.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.Title{
  color: rgb(65, 136, 58);
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #becf94be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Login{
  background-color: 2px solid rgb(65, 136, 58);
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 30px;
}

.Login-Button {
  background-color: 2px solid rgb(65, 136, 58);
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 30px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
